.container_card {
    position: relative;
    aspect-ratio: 1;
    background-color: lightgoldenrodyellow;
    margin: 20px;
    transition: all 1s ease;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgb(0, 0, 0);
    cursor: pointer;
    overflow: hidden;
}


.container_card_active {
    position: relative;
    aspect-ratio: 1;
    background-color: lightgoldenrodyellow;
    margin: 20px;
    transition: all 1s ease;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgb(0, 0, 0);
    cursor: pointer;
    background-image: url('/tick.png');
    background-size: cover;
    
}

.container_card2 {
    width: 80%;
    height: 80%;
    margin: auto;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
}

.cardBody::-webkit-scrollbar {
    background-color: rgba(0, 0, 0, 0.068);
    width: 2px;
    
}

.cardBody::-webkit-scrollbar-thumb {
    background-color: rgba(166, 179, 121, 0.767);
    
}


.pin {
    position: absolute;
    width: 25px;
    height: 25px;
    background-image: url('/Pin.png');
    background-position: -16px 2px;
    background-size: 150%;
    border-radius: 50%;
    left: 50%;
    top: 5px;
    
}

.cardTitle {
    
    margin-top: 30px;
}

.cardTitle_active {
    text-decoration: line-through;
    opacity: 0.4;
    margin-top: 30px;
}

.cardBody_active {
    text-decoration: line-through;
    opacity: 0.4;
    word-wrap: break-word;
    
}

.cardBody {
    word-wrap: break-word;
    overflow: auto;
}



.date_card {
    text-align: right;
    padding-right: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 10px;
}

