@import url("https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Oswald:wght@200;300;400;500;600;700&family=Roboto+Condensed:wght@300;400;700&display=swap");
.container {
  width: 100%;
  min-height: calc(100vh - 150px);
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 1rem;
}

.matches {
  display: flex;
  min-width: 100%;
  height: calc(100% - 80px);
  flex-direction: column;
  justify-content: flex-start;
}

.username {
  color: rgb(255, 255, 255);
  background-color: rgb(21, 22, 105);
  display: flex;
  height: 7%;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  margin: 0;
  padding: 10px 10px;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  text-shadow: 2px 2px blue;
  overflow: hidden;
}

.username p {
  background-color: inherit;
}

.matchday {
  background-color: lightblue;
  color: black;
  display: flex;
  height: 5%;
  align-items: center;
  justify-content: left;
  padding: 0;
  margin: 0;
  padding-left: 10px;
  font-family: "Oswald", sans-serif;
  font-weight: 200;
  border-bottom: 1px solid black;
}

.fixture {
  display: flex;
  height: 8%;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid black;
  padding: 0px;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
}

.text {
  min-height: 100%;
  flex: 6;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10px;
  border-right: 1px solid black;
  margin: 0;
}

.ace {
  flex: 2;
  min-height: 100%;
  border-right: 1px solid black;
  padding-left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
}

.activeace {
  min-height: 100%;
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid black;
  padding-left: 5px;
  background-color: green;
  cursor: pointer;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
}

.ok {
  flex: 1;
  min-height: 100%;
  padding-left: 5px;
  border: none;
  border-right: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgreen;
  text-transform: uppercase;
  color: black;
  cursor: pointer;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
}

.ok input {
  flex: 1;
  min-height: 100%;
  padding-left: 5px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgreen;
  text-transform: uppercase;
  color: black;
  cursor: pointer;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
}

.notok {
  flex: 1;
  min-height: 100%;
  padding-left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightcoral;
  color: black;
  cursor: pointer;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
}

.btn {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 2rem;
  width: 50%;
  height: 80px;
  display: grid;
  place-items: center;
  background-color: yellowgreen;
  cursor: pointer;
  border-top: 1px solid black;
  -webkit-text-stroke: 1px black;
}

.play {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 2rem;
  width: 50%;
  height: 80px;
  display: grid;
  place-items: center;
  background-color: royalblue;
  cursor: pointer;
  border-top: 1px solid black;
  -webkit-text-stroke: 1px black;
}

.holebet {
  width: 100%;
  height: 46%;
  margin: auto;
  font-family: "Roboto Condensed", sans-serif;
  background-color: white;
  overflow: auto;
}

.holebet h3 {
  background-color: white;
  color: black;
  padding-left: 20px;
  padding-bottom: 5px;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  border-bottom: 1px ridge rgba(0, 0, 0, 0.13);
}

.matchboard {
  background-color: white;
  display: flex;
  min-width: 100%;
  padding: 0 30px;
  justify-content: space-between;
}

.matchboard h4 {
  font-size: 1rem;
  margin: 0;
  background-color: white;
  color: black;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
}

.btn2 {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 2rem;
  width: 100%;
  height: 80px;
  display: grid;
  place-items: center;
  background-color: yellowgreen;
  cursor: pointer;
  border-top: 1px solid black;
  -webkit-text-stroke: 1px black;
}
