.container {
  min-width: 100%;
  height: calc(100vh - 150px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1e509a;
  position: relative;
}

.container h1 {
  background-color: #1e509a;
}

.user {
  background-color: #1e509a;
}

.container form {
  background-color: #1e509a;
}

.container form .main {
  background-color: #1e509a;
}

.container label {
  display: block;
  text-align: center;
  font-weight: bold;
  background-color: rgb(74, 119, 43);
}

.container input[type="text"],
.container input[type="number"],
.container input[type="email"],
.container input[type="password"] {
  display: block;
  width: 100%;
  height: 30px;
  padding: 5px;
  font-size: 18px;
  border: none;
  margin-bottom: 15px;
  background-color: rgba(96, 202, 26, 0.212);
}

.container input:focus {
  border: none;
  outline: none;
}

.btn2 {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0px;
  right: 0;
  text-align: center;
  width: 50%;
  height: 50px;
  font-size: 17px;
  color: white;
  padding: 5px;
  cursor: pointer;
  background-color: royalblue;
}

.btn2 input {
  background-color: transparent;
  border: none;
  font-size: 17px;
}

.btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0px;
  left: 0;
  text-align: center;
  width: 50%;
  height: 50px;
  font-size: 17px;
  color: white;
  padding: 5px;
  cursor: pointer;
  background-color: yellowgreen;
}
